schema/2003/HL7/VocabularyRevision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Harold R. Solbrig (Mayo Clinic) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="pubDisplayMarkup.xsd"/>
	<xs:element name="VocabularyRevision">
		<xs:annotation>
			<xs:documentation>A cohesive collection of changes for a terminology</xs:documentation>
			<xs:documentation>TODO:  1) Allow simultaneous creation of value sets and vocabulary domains (asVocabularyDomain) (done)
											  2) Allow multiple create/select code systems within codeSystemRevision (done)
											  3) Allow multiple create/select value sets within valueSetRevision (done)
											  4) Edit descriptions must be non-zero (corrected in sw)
											  5) BallotStatus cascade corrections (done)
											  6) Need to be able to remove a vocabulary domain *** TODO ***
											  7) Make descriptions reference official pubdisplay schema (done, but it ain't pretty)
											  8) Make sw cope with mixed elements  *** TODO ***
											  9) Made value set code system name required for the time being until RoseTree allows otherwise (done)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="editDescription">
					<xs:annotation>
						<xs:documentation>A description of the intent and purpose of the vocabulary revision.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="description"/>
						</xs:sequence>
						<xs:attribute name="creationDate" type="xs:date" use="required"/>
						<xs:attribute name="primaryContact" type="xs:string" use="required"/>
						<xs:attribute name="committee" type="xs:string" use="required"/>
						<xs:attribute name="documentStatus" default="Proposed">
							<xs:annotation>
								<xs:documentation>The current state of the proposition</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="Proposed"/>
									<xs:enumeration value="Submitted"/>
									<xs:enumeration value="Reviewed"/>
									<xs:enumeration value="Harmonized"/>
									<xs:enumeration value="Final"/>
									<xs:enumeration value="Rejected"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="editVersion" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Edit history</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="description" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="changeDate" type="xs:date" use="required"/>
						<xs:attribute name="author" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element name="codeSystemRevision">
						<xs:annotation>
							<xs:documentation>An addition or modification to a code system.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice maxOccurs="unbounded">
								<xs:element name="selectCodeSystem">
									<xs:annotation>
										<xs:documentation>Modify the contents of an existing code system.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
											<xs:choice minOccurs="0" maxOccurs="unbounded">
												<xs:element name="addCodesToCodeSystem" type="addCodesToCodeSystemType"/>
												<xs:element name="addPrintNameToCode" type="addPrintNameToCodeType"/>
												<xs:element name="addPropertyToCode" type="addPropertyToCodeType"/>
												<xs:element name="addConceptRelationship" type="addConceptRelationshipType"/>
												<xs:element name="modifyCodeSystem">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
															<xs:element ref="description" minOccurs="0"/>
														</xs:sequence>
														<xs:attribute name="codeSystemName" type="xs:string"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="updateCodePrintName">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
														</xs:sequence>
														<xs:attribute name="conceptCode" type="xs:string" use="required"/>
														<xs:attribute name="oldPrintName" type="xs:string" use="required"/>
														<xs:attribute name="newPrintName" type="xs:string"/>
														<xs:attribute name="languageCode" type="xs:string" default="en"/>
														<xs:attribute name="isPreferred" type="xs:boolean" default="true"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="updateCodeDescription">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
															<xs:sequence>
																<xs:element ref="oldDescription" minOccurs="0"/>
																<xs:element ref="newDescription"/>
															</xs:sequence>
														</xs:sequence>
														<xs:attribute name="conceptCode" type="xs:string" use="required"/>
														<xs:attribute name="conceptName" type="xs:string"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="moveCode">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
														</xs:sequence>
														<xs:attribute name="conceptCode" type="xs:string" use="required"/>
														<xs:attribute name="conceptName" type="xs:string"/>
														<xs:attribute name="fromParentCode" type="xs:string"/>
														<xs:attribute name="fromParentName" type="xs:string"/>
														<xs:attribute name="toParentCode" type="xs:string"/>
														<xs:attribute name="toParentName" type="xs:string"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="retireCode">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
														</xs:sequence>
														<xs:attribute name="conceptCode" type="xs:string" use="required"/>
														<xs:attribute name="conceptName" type="xs:string" use="required"/>
														<xs:attribute name="replacementCode" type="xs:string"/>
														<xs:attribute name="replacementName" type="xs:string"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="removeConceptRelationship">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
														</xs:sequence>
														<xs:attribute name="parentCode" type="xs:string" use="required"/>
														<xs:attribute name="parentName" type="xs:string"/>
														<xs:attribute name="relationship" type="xs:string" use="required"/>
														<xs:attribute name="childCode" type="xs:string" use="required"/>
														<xs:attribute name="childName" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:choice>
										</xs:sequence>
										<xs:attribute name="codeSystemMnemonic" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="registerCodeSystem">
									<xs:annotation>
										<xs:documentation>Register a new code system and contents.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
											<xs:element ref="description" minOccurs="0"/>
											<xs:choice minOccurs="0" maxOccurs="unbounded">
												<xs:element name="addCodesToCodeSystem" type="addCodesToCodeSystemType"/>
												<xs:element name="addPrintNameToCode" type="addPrintNameToCodeType"/>
												<xs:element name="addPropertyToCode" type="addPropertyToCodeType"/>
												<xs:element name="addConceptRelationship" type="addConceptRelationshipType"/>
											</xs:choice>
										</xs:sequence>
										<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
										<xs:attribute name="codeSystemMnemonic" type="xs:string" use="required"/>
										<xs:attribute name="codeSystemType" default="I">
											<xs:simpleType>
												<xs:restriction base="xs:NMTOKEN">
													<xs:enumeration value="E"/>
													<xs:enumeration value="I"/>
													<xs:enumeration value="EI"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="codeSystemOID" type="xs:string"/>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="valueSetRevision">
						<xs:annotation>
							<xs:documentation>An addition or modification to a value set.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice maxOccurs="unbounded">
								<xs:element name="selectValueSet">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
											<xs:choice minOccurs="0" maxOccurs="unbounded">
												<xs:element name="addCodesToValueSet" type="addCodesToValueSetType"/>
												<xs:element name="addValueSetReferences" type="addValueSetReferencesType"/>
												<xs:element name="addToVocabularyDomain" type="addToVocabularyDomainType"/>
												<xs:element name="deleteValueSet">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
														</xs:sequence>
														<xs:attribute name="andVocabularyDomain" type="xs:boolean" default="false"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="modifyValueSet">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
															<xs:element ref="oldDescription" minOccurs="0"/>
															<xs:element ref="newDescription" minOccurs="0"/>
														</xs:sequence>
														<xs:attribute name="newName" type="xs:string"/>
														<xs:attribute name="codeSystem" type="xs:string"/>
														<xs:attribute name="allCodes" type="xs:boolean"/>
														<xs:attribute name="headCode" type="xs:string"/>
														<xs:attribute name="headCodeName" type="xs:string"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="removeCodesFromValueSet">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
															<xs:element name="codeToRemove" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:attribute name="conceptCode" type="xs:string" use="required"/>
																	<xs:attribute name="conceptName" type="xs:string"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="removeValueSetReferences">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
															<xs:element name="removeReferenceTo" maxOccurs="unbounded">
																<xs:complexType>
																	<xs:attribute name="valueSet" type="xs:string" use="required"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:choice>
										</xs:sequence>
										<xs:attribute name="setName" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="createValueSet">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
											<xs:element ref="description" minOccurs="0"/>
											<xs:element name="underValueSet" minOccurs="0">
												<xs:complexType>
													<xs:attribute name="setName" type="xs:string" use="required"/>
													<xs:attribute name="addAsType" use="required">
														<xs:simpleType>
															<xs:restriction base="xs:NMTOKEN">
																<xs:enumeration value="abstract"/>
																<xs:enumeration value="specializable"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:choice minOccurs="0" maxOccurs="unbounded">
												<xs:element name="addCodesToValueSet" type="addCodesToValueSetType"/>
												<xs:element name="addValueSetReferences" type="addValueSetReferencesType"/>
												<xs:element name="addToVocabularyDomain" type="addToVocabularyDomainType"/>
											</xs:choice>
										</xs:sequence>
										<xs:attribute name="setName" type="xs:string" use="required"/>
										<xs:attribute name="codeSystemName" type="xs:string" use="required"/>
										<xs:attribute name="allCodes" type="xs:boolean" default="false"/>
										<xs:attribute name="headCode" type="xs:string"/>
										<xs:attribute name="headCodePrintName" type="xs:string"/>
										<xs:attribute name="asVocabularyDomain" type="xs:boolean"/>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="vocabularyDomainRevision">
						<xs:annotation>
							<xs:documentation>An addition or modification to a vocabulary domain.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice maxOccurs="unbounded">
								<xs:element name="createVocabularyDomain">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
											<xs:element ref="description" minOccurs="0"/>
										</xs:sequence>
										<xs:attribute name="vocabularyDomain" type="xs:string" use="required"/>
										<xs:attribute name="restrictsDomain" type="xs:string"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="deleteVocabularyDomain">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
										</xs:sequence>
										<xs:attribute name="vocabularyDomain" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="renameVocabularyDomain">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
										</xs:sequence>
										<xs:attribute name="vocabularyDomain" type="xs:string" use="required"/>
										<xs:attribute name="newDomainName" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="addCodesToCodeSystemType">
		<xs:sequence>
			<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="underCode" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="newCode" type="newCodeType" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="conceptCode" type="xs:string" use="required"/>
						<xs:attribute name="conceptName" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="newCode" type="newCodeType" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addCodesToValueSetType">
		<xs:sequence>
			<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
			<xs:element name="codeAddition" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="conceptCode" type="xs:string" use="required"/>
					<xs:attribute name="conceptName" type="xs:string"/>
					<xs:attribute name="relationship" type="xs:string"/>
					<xs:attribute name="relInclusion" default="inclusive">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="exclusive"/>
								<xs:enumeration value="inclusive"/>
								<xs:enumeration value="leafOnly"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addConceptRelationshipType">
		<xs:sequence>
			<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="parentCode" type="xs:string" use="required"/>
		<xs:attribute name="parentName" type="xs:string"/>
		<xs:attribute name="relationship" type="xs:string" use="required"/>
		<xs:attribute name="childCode" type="xs:string" use="required"/>
		<xs:attribute name="childName" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="addPrintNameToCodeType">
		<xs:annotation>
			<xs:documentation>Add a new print name to a to a concept code in the selected code system
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="conceptCode" type="xs:string" use="required"/>
		<xs:attribute name="conceptName" type="xs:string"/>
		<xs:attribute name="newPrintName" type="xs:string" use="required"/>
		<xs:attribute name="languageCode" type="xs:string" default="en"/>
		<xs:attribute name="isPreferred" type="xs:boolean" default="true"/>
	</xs:complexType>
	<xs:complexType name="addPropertyToCodeType">
		<xs:annotation>
			<xs:documentation>Add a property to a concept code in the selected code system
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
			<xs:element name="property" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="conceptCode" type="xs:string" use="required"/>
		<xs:attribute name="conceptName" type="xs:string"/>
		<xs:attribute name="propertyId" type="xs:string" use="required"/>
		<xs:attribute name="language" type="xs:string" default="en"/>
	</xs:complexType>
	<xs:complexType name="addToVocabularyDomainType">
		<xs:annotation>
			<xs:documentation>Add the selected value set to the named vocabulary domain in the selected (optional) context</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="vocabularyDomain" type="xs:string" use="required"/>
		<xs:attribute name="context" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="addValueSetReferencesType">
		<xs:annotation>
			<xs:documentation>Create references from the selected value set to the sets listed below</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ballotStatus" type="ballotStatusType" minOccurs="0"/>
			<xs:element name="listEntry" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="setName" type="xs:string" use="required"/>
					<xs:attribute name="setType" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="abstract"/>
								<xs:enumeration value="specializable"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ballotStatusType">
		<xs:annotation>
			<xs:documentation>The status of a given change within the HL7 organizational structure.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="note" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Notes, etc. about the current ballot state, decisions and the like.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="action" default="Proposed">
			<xs:annotation>
				<xs:documentation>The current state of the proposition</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Proposed"/>
					<xs:enumeration value="Passed"/>
					<xs:enumeration value="PassedWithChanges"/>
					<xs:enumeration value="Tabled"/>
					<xs:enumeration value="Withdrawn"/>
					<xs:enumeration value="NonVotingItem"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vote">
			<xs:annotation>
				<xs:documentation>Vote is in the format yy-nn-aa where:
									 		yy is yes votes
									 		nn is no votes
									 		aa is abstention votes
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9]+-[0-9]+-[0-9]+"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="description" type="fullMarkupType">
		<xs:annotation>
			<xs:documentation>A textual definition or description</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="oldDescription" type="fullMarkupType"/>
	<xs:element name="newDescription" type="fullMarkupType"/>
	<xs:complexType name="newCodeType">
		<xs:annotation>
			<xs:documentation>A new coded entry in a code system.  May be nested</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="description" minOccurs="0"/>
			<xs:element name="newCode" type="newCodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="conceptCode" type="xs:string" use="required"/>
		<xs:attribute name="conceptName" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
