schema/LexBIG/LoadPreferences/LoadPreferences.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://LexGrid.org/LexBIG/LoadPreferences" targetNamespace="http://LexGrid.org/LexBIG/LoadPreferences" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="LoaderPreferences">
		<xs:sequence>	

			<xs:element name="Syncronous" type="xs:boolean" minOccurs="0" nillable="true" />
			
			<xs:element name="XMLMetadataFilePath" type="xs:string" minOccurs="0" nillable="true">
			</xs:element>	
										
		</xs:sequence>	
		</xs:complexType>
</xs:schema>