schema/2004/02/LexGrid/commonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://LexGrid.org/schema/2004/02/LexGrid/commonTypes" xmlns:lgCommon="http://LexGrid.org/schema/2004/02/LexGrid/commonTypes" xmlns:ldap="http://LexGrid.org/schema/2004/02/LexGrid/ldap" xmlns:lgBuiltin="http://LexGrid.org/schema/2004/02/LexGrid/builtins" xmlns:lgNaming="http://LexGrid.org/schema/2004/02/LexGrid/naming" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lg="http://LexGrid.org/schema/2004/02/LexGrid" elementFormDefault="qualified">
        <xs:import namespace="http://LexGrid.org/schema/2004/02/LexGrid/naming" schemaLocation="naming.xsd"/>
        <xs:import namespace="http://LexGrid.org/schema/2004/02/LexGrid/builtins" schemaLocation="builtins.xsd"/>
        <xs:import namespace="http://LexGrid.org/schema/2004/02/LexGrid/ldap" schemaLocation="ldap.xsd"/>
        <!-- ================================================= -->
        <!-- Package: <<XSDschema>> commonTypes  -->
        <!-- ================================================= -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<XSDsimpleType>> dc  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="dc">
                <xs:annotation>
                        <xs:documentation> RFC1274/2247: domain component </xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>0.9.2342.19200300.100.1.25</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgBuiltin:tsCaseIgnoreIA5String"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<XSDsimpleType>> defaultCodingScheme  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="defaultCodingScheme">
                <xs:annotation>
                        <xs:documentation>The URN of a default coding scheme</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.6.1.4.1.2114.108.1.6.39</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgBuiltin:localName"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<XSDsimpleType>> language  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="language">
                <xs:annotation>
                        <xs:documentation>A local name for a spoken or written language</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.6.1.4.1.2114.108.1.6.10</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgBuiltin:localName"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<XSDsimpleType>> defaultLanguage  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="defaultLanguage">
                <xs:annotation>
                        <xs:documentation>The language to use unless otherwise specified</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.6.1.4.1.2114.108.1.6.11</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgCommon:language"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<XSDsimpleType>> entityDescription  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="entityDescription">
                <xs:annotation>
                        <xs:documentation> The textual description of an entity </xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.6.1.4.1.2114.108.1.6.21</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgBuiltin:tsCaseIgnoreDirectoryString"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<XSDsimpleType>> entryOrder  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="entryOrder">
                <xs:annotation>
                        <xs:documentation> Positive integer that defines a list order </xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.6.1.4.1.2114.108.1.6.27</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgBuiltin:tsInteger"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<XSDsimpleType>> id  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="id">
                <xs:annotation>
                        <xs:documentation>An arbitrary id for things that arent otherwise nameable</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.6.1.4.1.2114.108.1.6.102</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgBuiltin:tsCaseIgnoreIA5String"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<XSDsimpleType>> registeredName  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="registeredName">
                <xs:annotation>
                        <xs:documentation>The URN of a coding scheme or value set</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.6.1.4.1.2114.108.1.6.5</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgNaming:URN"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<XSDsimpleType>> version  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="version">
                <xs:annotation>
                        <xs:documentation>A version identifier</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.6.1.4.1.2114.108.1.6.52</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgBuiltin:tsCaseIgnoreIA5String"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<XSDsimpleType>> conceptCode  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="conceptCode">
                <xs:annotation>
                        <xs:documentation>The unique code for a concept defined in a coding scheme</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.6.1.4.1.2114.108.1.6.6</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgBuiltin:tsCaseIgnoreIA5String"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: source  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="source">
                <xs:annotation>
                        <xs:documentation>A local source identifier</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.6.1.4.1.2114.108.1.6.8</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgBuiltin:localName"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<XSDsimpleType>> blob  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="blob">
                <xs:annotation>
                        <xs:documentation>Any binary block of data</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.6.1.4.1.2114.108.1.6.28</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgBuiltin:tsOctetString"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<XSDsimpleType>> text  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="text">
                <xs:annotation>
                        <xs:documentation>Text associated with an annotation, comment, etc</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.6.1.4.1.2114.108.1.6.20</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgBuiltin:tsCaseIgnoreDirectoryString"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<XSDsimpleType>> propertyId  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="propertyId">
                <xs:annotation>
                        <xs:documentation>the unique identifier of a property</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.6.1.4.1.2114.108.1.6.90</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="lgBuiltin:tsCaseIgnoreIA5String"/>
        </xs:simpleType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: describable  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="describable">
                <xs:annotation>
                        <xs:documentation>An entity that can be defined or described</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.5.1.4.1.2114.108.1.7.1</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="entityDescription" type="lgCommon:entityDescription" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>A textual description of the entity in the default language</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: versionable  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="versionable">
                <xs:annotation>
                        <xs:documentation>An entity which can be introduced or removed at a specific version</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.5.1.4.1.2114.108.1.7.2</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="modVersion" type="lgCommon:version" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation>Version (s) in which the entity was modified (cumulative)</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="firstVersion" type="lgBuiltin:tsBoolean">
                        <xs:annotation>
                                <xs:documentation>TRUE means that entity was introduced in the current version</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="lastVersion" type="lgBuiltin:tsBoolean">
                        <xs:annotation>
                                <xs:documentation>TRUE means that this is the last version in which this entity was valid</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: versionableAndDescribable  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="versionableAndDescribable">
                <xs:annotation>
                        <xs:documentation>Any entity that can be introduced, modified or removed and/or described</xs:documentation>
                        <xs:appinfo>
                                <ldap:oid>1.3.5.1.4.1.2114.108.1.7.26</ldap:oid>
                        </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="entityDescription" type="lgCommon:entityDescription" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>A textual description of the entity in the default language</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="modVersion" type="lgCommon:version" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation>Version (s) in which the entity was modified (cumulative)</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="firstVersion" type="lgBuiltin:tsBoolean">
                        <xs:annotation>
                                <xs:documentation>TRUE means that entity was introduced in the current version</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="lastVersion" type="lgBuiltin:tsBoolean">
                        <xs:annotation>
                                <xs:documentation>TRUE means that this is the last version in which this entity was valid</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
       
</xs:schema>
